<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 justify-content-center">
<h1>Login</h1>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>
<div class="col-md-4"></div>

</div>